<h2>お問い合せ内容</h2>
  <p>名前</p>
  <%= @inquiry.name %>

  <p>件名</p>
  <%= @inquiry.title %>

  <p>お問合せ内容</p>
  <%= @inquiry.content %>

  <p>電話番号</p>
  <%= @inquiry.phone %>

  <p>メールアドレス</p>
  <%= @inquiry.mail %>