<%= link_to "編集する", edit_admin_menu_path(@menu.id) %>

<% if @menu.image.attached? %>
  <%= image_tag @menu.image, size: "300x300" %>
 <% else %>
  <%= image_tag "no_image", size: "300x300" %>
 <% end %>
<ul class="menu_show">
  <li>
    <p>商品名 <%= @menu.name %></p>
  </li>
  <li>
    <p>価格(税込) ¥<%= @menu.price %>(¥<%= @menu.with_tax_price %>)</p>
  </li>
  <li>
    <p>ジャンル <%= @menu.genre.name %></p>
  </li>
</ul>
