<!DOCTYPE html>
<html>
  <head>
    <title>為ちゃん家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script type='text/javascript' src="/js/jquery.validate.min.js"></script>-->

    <!--<script type='text/javascript' src="/js/jquery.validate.handler.js"></script>-->

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <% unless current_page?(root_path) %> <%# unlessで現在のページがrootなら呼び出さない %>
      <%= render "layouts/header" %>
    <% end %>

    <span id="back">
      <a href="#">
        <%= image_tag asset_path("arrow.png") %>
      </a>
    </span>
    <%= yield %>
  </body>
</html>
